# dependencies
node_modules/

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# build output
dist/
build/

# misc
.DS_Store
*.log

# Node.js binary (local development)
node-v20.11.0-darwin-x64/
.vercel
